/* Sellecting all elements of Html document and adding new font family */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* adding new background collor to html document body section */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* This is class sellector */
.highlighted-text {
  font-weight: bolder;
}

/* This is id sellector */
#contact-section {
  background-color: #f0ead6;
}
